<h1>Nicolas Urrutia</h1>
	<%= form_tag(:action => "new_user") do %>
		<div>
			<%= label_tag :nombre, "Nombre" %>
			<%= text_field_tag :nombre %>
		</div>

		<div>
			<%= label_tag :email, "Email" %>
			<%= text_field_tag :email %>
		</div>

		<div>
			<%= label_tag :edad, "Edad" %>
			<%= text_field_tag :edad %>
		</div>
		<div>
			<%= submit_tag "Enviar" %>
		</div>
	<% end %>